$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(255, 15, 15);
$words-color: rgb(0, 0, 0);
$word-two: #005f37;
$background: #df3a94;
$pink: rgb(223, 213, 214);
$blue: rgb(255, 182, 239);
$blacktesting: #000000;
$navcolor:#f594e0;
$green: darkgreen;

